DATABASE_URL="postgresql://username:password@localhost:5432/db_name?schema=public"
JWT_SECRET="your_jwt_secret_key"
NODE_ENV="development"
PORT=3003

# CORS Configuration (pisahkan dengan koma jika lebih dari satu origin)
CLIENT_ORIGIN="http://localhost:5173,https://your-frontend-domain.com"

# Pakasir Integration Configurations
PAKASIR_PROJECT_SLUG="your_pakasir_project_slug"
PAKASIR_API_KEY="your_pakasir_api_key"
